@font-face {
    font-family: 'Oxygen';
    src: url(../fonts/Oxygen-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_18pt-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_18pt-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Inter_18pt-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}